<div class="container">
    <h1>
        Send SMS Message
    </h1>
    <input type="tel" name="number" id="number" placeholder="Enter Phone Number...">
    <input type="text" name="msg" id="msg" placeholder="Enter Text Message...">
    <input type="button" id="button" value="Send Text" class="bttun button-primary">
    <p class="response"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</div>